

.instagram-text{

    height: auto;
    width: 100px;
}

.instagram-logo{

    height: 25;
    width: 25px;
    margin-right:10px;
    margin-left: 10px;
}

.fa-camera, .fa-location-dot  {
    height:15px;
    width: 15px;
}

#logout{
    color:red;
}

#pills-home-tab{
    background-color: none;
    color:grey;
}
#pills-home-tab:focus{
    background-color: none;
    color:blue;
}
#pills-profile-tab{
    background-color: none;
    color:grey;
}
#pills-profile-tab:focus{
    background-color: none;
    color:blue;
}

.row{
    position:relative;
    overflow:hidden;
    
   
}

.foto{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    aspect-ratio:1/1;
    }

.foto2{
    object-fit:cover;
    max-width: 100%;
    min-height:50%;
    height: auto;
    position: relative;
    aspect-ratio: 4/5;
    
}

.card{
    width:30vw;
    margin-top:20px;
    padding-left:0;
    padding-right:0;
}

.card-title{
    margin: 0 10px -10px 10px;
    padding: 10px 0 10px 0;
}
.card-title-text{
    display: inline;
    font-weight:600;
}

.card-title-number{
    float:right;
    color:grey;
    font-size:small
}

#last-card{
    margin-bottom:100px;
}
